body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
body:not(:first-child){
    /* display: flex; */
    align-items: center;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: gray;
    box-shadow: 0 5px 5px 0 rgba(131, 131, 131, 0.5);
}

header p{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    background-color: gray;
    margin-top: 0;
    margin-bottom: 5px;
}

/* サイドメニュー */
/* .open, .close{
    display: none;
} */
/* チェックボックスは左に隠す */
/* .side_main input[type="checkbox"]{
    position: absolute;
    left: -50vw;
} */


/* 1000px以下の画面なら */
/* @media screen and (max-width: 1000px){
    .open, .close{
        display: flex;
    }
    .open{
        position: absolute;
        transition: 0.2s;
    }
    .open div{
        font-family:'Arial',sans-serif;
        color: gray;
        font-size: 1.5rem;
    }
    .open:hover{
        transform:translateX(5px);
    }
    aside{
        position: absolute;
        left: -300px;
        height: 100%;
        transition: 0.3s;
        background: #fff;
    }
    main{
        padding-top: 5px;
    }

    checkboxの挙動を指定 
    .side_main input[type="checkbox"]:checked ~ aside{
        left: 0;
    }
    .side_main input[type="checkbox"]:checked ~ .close{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(128, 128, 128, 0.452); 色をつけたいならこれをつかう
    }

} */

.side_main{
    margin: 0;
    display: flex;
    min-height: 100vh;
}

/* サイドバー */
aside{
    min-width: 170px;
}
aside ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around

}

.side_links{
    margin-top: 8px;
    margin-bottom: 8px;
}

aside li{
    text-decoration: none;
    border-radius:4px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px 3px 3px 3px;
}
aside div{
    font-family:'Arial',sans-serif;
    color: white;
    font-size: 1.5rem;
}

aside div::after{
    border-bottom: solid 2px #fff;
    bottom: 0;
    content: "";
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
}

aside div:hover::after{
    width: 100%;
}

main{
    margin-top: 65px;
    width: 85%;
}

/* bodyのリンク */
body a{
    text-decoration: none;
    color: black;
}
main a:hover{
    text-decoration: underline;
}

main h1{
    color: white;
    border-radius:4px;
    background:gray;
    padding-left: 3px;
}
main h2{
    color:gray;
}
main h3{
    color:gray;
}

.profile_pic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 画像の変形 */
.profile_pic img{
    margin-right: 20px;
    clip-path: circle(50% at 50% 50%);
}

.skills{
    list-style: none;
}

/* ボタン全体 */
.buttoms{
    list-style: none;
    display: flex;
    justify-content: center;
}
/* ボタンそれぞれ */
.buttoms li{
    text-align: center;
    margin-right: 3px;
}
.follow_buttom{
    font-family:'Arial',sans-serif;/* 好きなフォントを指定*/
    border-radius:4px;
    position:relative;
    z-index: 1;
    width:66px;
    height:58px;
    font-size:30px;
    color:#fff;
    transition:.5s;
    text-decoration:none;
    box-shadow:0 1px 2px #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ボタン各種の設定*/
.twitter{
    background:#55acee;
}
.mail{
    background: rgb(46, 44, 44);
}
.github{
    background: black;
}
.qiita{
    background: #55c500;
}

/* ボタン内テキスト調整 */
.follow_buttom div{
    font-size:15px;
    font-weight:bold;
    letter-spacing:0;
    bottom:0;
    color: white;
    }

/* ボタンマウスホバー時 */
.follow_buttom:hover{
    -webkit-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transform:translateY(-5px);
    text-decoration:none;
}

footer{
    text-align: center;
}