.header p{
    color: black;
    font-weight: bold;
    font-size: 3rem; /*文字サイズ3倍*/
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    background-color: rgb(172, 172, 172);
}

/* bodyのリンク */
body a{
    text-decoration: none;
    color: black;
}
body a:hover{
    text-decoration: underline;
}

/* mainのh1 */
main h1:hover{
    color: rgb(173, 173, 173);
}
main h1{
    color:rgb(78, 78, 78);
}

/* ページ内リンク */
.in_links{
    list-style-type: none;
    display: flex;
    justify-content: center; /* 中央寄せ */
    padding-left: 0;
}
.in_links li{
    text-decoration: none;
    border-radius:4px;
    background:rgb(172, 172, 172);
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px 3px 3px 3px;
}
.in_links div{
    font-family:'Arial',sans-serif;
    color: white;
    font-size: 2rem;
}
.in_links li:hover{
    background:rgba(172, 172, 172, 0.65);
    
}
.in_links div:hover{
    text-decoration: underline;
}

/* ボタン全体 */
.buttoms{
    list-style: none;
    display: flex;
    justify-content: center;
}
/* ボタンそれぞれ */
.buttoms li{
    text-align: center;
    margin-right: 3px;
}
.follow_buttom{
    font-family:'Arial',sans-serif;/* 好きなフォントを指定*/
    border-radius:4px;
    position:relative;
    width:66px;
    height:58px;
    font-size:30px;
    color:#fff;
    transition:.5s;
    text-decoration:none;
    box-shadow:0 1px 2px #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ボタン各種の設定*/
.twitter{
    background:#55acee;
}
.mail{
    background: rgb(46, 44, 44);
}
.github{
    background: black;
}

/* ボタン内テキスト調整 */
.follow_buttom div{
    font-size:15px;
    font-weight:bold;
    letter-spacing:0;
    bottom:0;
    color: white;
    }

/* ボタンマウスホバー時 */
.follow_buttom:hover{
    -webkit-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transform:translateY(-5px);
    text-decoration:none;
}

footer{
    text-align: center;
}